* {
    padding: 0;
    margin: 0;
    /* font-family: "Jost", sans-serif; */
    font-family: "Quicksand", sans-serif;
}

body {
    background: #f3f2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

html,
body {
    font-size: 62.5%;
    height: 100%;
}

html {
    background: #eee;
}

.box {
    width: 20vw;
    height: 60vh;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    min-width: 20rem;
    min-height: 35rem;
}

.box:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}


.info {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 45%;
    z-index: 4;
}

.location {
    margin-top: 1.5rem;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    color: #eee;
}

#date {
    text-align: center;
    margin-top: 0.5rem;
    color: #babcbf;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
}

.temp {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 3rem;
    color: #eee;
}

.tempmin_max {
    text-align: center;
    margin-top: 0.3rem;
    font-weight: 300;
    font-size: 1.2rem;
    color: #babcbf;
}


@media (max-width: 600px) {
    .box {
        width: 90vw;
        height: 80vh;
    }

    .wave {
        top: 85%;
    }

    #weathercon {
        font-size: 5em;
    }

    .info {
        font-size: 1.5rem;
    }
}

@media (max-height: 500px) {
    .box {
        height: 80vh;
    }

    .wave {
        top: 115%;
    }
}

body>span {
    width: 100vw;
    text-align: center;
    color: grey;
}

img{
    max-height:100%; 
    max-width:200%;
}